In [1]:
import duckdb as db
import polars as pl
import pandas as pd
from pathlib import Path

data_dir = Path("/home/sean/Projects/streambt/full_df_2_exit.parquet/")
full_df = pd.concat(
    pd.read_parquet(parquet_file)
    for parquet_file in data_dir.glob('*.parquet')
)

In [2]:
db.sql(
"""
select Ticker, year(Date) as yr, stddev_samp(log(Volume+1)) as std_vol
from full_df
group by Ticker, year(Date)
having std_vol > 0 and yr = 2023
order by std_vol desc
"""
).df()

      Ticker    yr   std_vol
0     VML.AX  2023  3.404273
1     CYM.AX  2023  3.102288
2     AKA.AX  2023  2.986501
3     SIT.AX  2023  2.974261
4     AVW.AX  2023  2.974078
...      ...   ...       ...
1750  WES.AX  2023  0.154861
1751  ANZ.AX  2023  0.151347
1752  ARG.AX  2023  0.149401
1753  BHP.AX  2023  0.145891
1754  AFI.AX  2023  0.133112

[1755 rows x 3 columns]

In [3]:
db.sql(
"""
select Ticker, stddev_samp(log(Volume+1)) as std_vol
from full_df
group by Ticker
order by std_vol desc
"""
)

┌─────────┬─────────────────────┐
│ Ticker  │       std_vol       │
│ varchar │       double        │
├─────────┼─────────────────────┤
│ PLS.AX  │   3.188543452335641 │
│ SYA.AX  │  3.1275152562268596 │
│ QPM.AX  │   3.074252416302002 │
│ LKE.AX  │   3.039904601552557 │
│ ASN.AX  │   3.020706683105845 │
│ GTR.AX  │   2.997954364799972 │
│ SPQ.AX  │   2.994651937525009 │
│ NET.AX  │  2.9694875320702376 │
│ ALR.AX  │  2.9612199478690586 │
│ EPM.AX  │  2.9457625845140605 │
│   ·     │           ·         │
│   ·     │           ·         │
│   ·     │           ·         │
│ ASL.AX  │   0.255250553999132 │
│ DRR.AX  │ 0.25031072090745504 │
│ COL.AX  │ 0.22689993213116633 │
│ EDV.AX  │ 0.22204899727094463 │
│ WHI.AX  │  0.2154243414032101 │
│ TLC.AX  │  0.2105426289199942 │
│ AOV.AX  │  0.2098394002969614 │
│ XYZ.AX  │ 0.20434181355697742 │
│ LSF.AX  │ 0.19174881267758112 │
│ SGH.AX  │ 0.19066835651868042 │
├─────────┴─────────────────────┤
│     1829 rows (20 shown)      │
└───────────────────────────────┘

In [ ]:
#2021 asx 200 list
string = """
(
  'A2M.AX'
, 'AAA.AX'
, 'ABC.AX'
, 'ABP.AX'
, 'AFI.AX'
, 'AGL.AX'
, 'AIA.AX'
, 'ALD.AX'
, 'ALL.AX'
, 'ALQ.AX'
, 'ALU.AX'
, 'ALX.AX'
, 'AMC.AX'
, 'AMP.AX'
, 'ANN.AX'
, 'ANZ.AX'
, 'APA.AX'
, 'APE.AX'
, 'APT.AX'
, 'APX.AX'
, 'ARB.AX'
, 'ARG.AX'
, 'AST.AX'
, 'ASX.AX'
, 'AWC.AX'
, 'AZJ.AX'
, 'BAP.AX'
, 'BEN.AX'
, 'BGA.AX'
, 'BHP.AX'
, 'BIN.AX'
, 'BKW.AX'
, 'BLD.AX'
, 'BOQ.AX'
, 'BPT.AX'
, 'BRG.AX'
, 'BSL.AX'
, 'BWP.AX'
, 'BXB.AX'
, 'CAR.AX'
, 'CBA.AX'
, 'CCL.AX'
, 'CCP.AX'
, 'CDA.AX'
, 'CGF.AX'
, 'CHC.AX'
, 'CHN.AX'
, 'CIA.AX'
, 'CIM.AX'
, 'CLW.AX'
, 'CMW.AX'
, 'CNU.AX'
, 'COH.AX'
, 'COL.AX'
, 'CPU.AX'
, 'CQR.AX'
, 'CSL.AX'
, 'CSR.AX'
, 'CTD.AX'
, 'CWN.AX'
, 'CWY.AX'
, 'DEG.AX'
, 'DHG.AX'
, 'DMP.AX'
, 'DOW.AX'
, 'DRR.AX'
, 'DXS.AX'
, 'EBO.AX'
, 'ELD.AX'
, 'EML.AX'
, 'EVN.AX'
, 'EVT.AX'
, 'FBU.AX'
, 'FLT.AX'
, 'FMG.AX'
, 'FPH.AX'
, 'GMG.AX'
, 'GNE.AX'
, 'GOZ.AX'
, 'GPT.AX'
, 'GXY.AX'
, 'HLS.AX'
, 'HVN.AX'
, 'IAG.AX'
, 'IEL.AX'
, 'IFL.AX'
, 'IFT.AX'
, 'IGO.AX'
, 'ILU.AX'
, 'IOO.AX'
, 'IOZ.AX'
, 'IPL.AX'
, 'IRE.AX'
, 'IVV.AX'
, 'JBH.AX'
, 'JHX.AX'
, 'LFG.AX'
, 'LFS.AX'
, 'LLC.AX'
, 'LNK.AX'
, 'LYC.AX'
, 'MCY.AX'
, 'MEZ.AX'
, 'MFG.AX'
, 'MGF.AX'
, 'MGO.AX'
, 'MGR.AX'
, 'MIN.AX'
, 'MLT.AX'
, 'MP1.AX'
, 'MPL.AX'
, 'MQG.AX'
, 'MTS.AX'
, 'NAB.AX'
, 'NCM.AX'
, 'NEC.AX'
, 'NHF.AX'
, 'NIC.AX'
, 'NSR.AX'
, 'NST.AX'
, 'NUF.AX'
, 'NWL.AX'
, 'NXT.AX'
, 'ORA.AX'
, 'ORE.AX'
, 'ORG.AX'
, 'ORI.AX'
, 'OSH.AX'
, 'OZL.AX'
, 'PBH.AX'
, 'PDL.AX'
, 'PLS.AX'
, 'PME.AX'
, 'PMG.AX'
, 'PMV.AX'
, 'PNI.AX'
, 'PNV.AX'
, 'PPT.AX'
, 'PTM.AX'
, 'QAN.AX'
, 'QBE.AX'
, 'QUB.AX'
, 'REA.AX'
, 'REH.AX'
, 'RHC.AX'
, 'RIO.AX'
, 'RMD.AX'
, 'RRL.AX'
, 'RWC.AX'
, 'S32.AX'
, 'SCG.AX'
, 'SCP.AX'
, 'SDF.AX'
, 'SEK.AX'
, 'SGM.AX'
, 'SGP.AX'
, 'SGR.AX'
, 'SHL.AX'
, 'SKC.AX'
, 'SKI.AX'
, 'SLK.AX'
, 'SNZ.AX'
, 'SOL.AX'
, 'SPK.AX'
, 'STO.AX'
, 'STW.AX'
, 'SUL.AX'
, 'SUN.AX'
, 'SVW.AX'
, 'SYD.AX'
, 'TAH.AX'
, 'TCL.AX'
, 'TLS.AX'
, 'TLT.AX'
, 'TNE.AX'
, 'TPG.AX'
, 'TWE.AX'
, 'TYR.AX'
, 'VAP.AX'
, 'VAS.AX'
, 'VCX.AX'
, 'VEA.AX'
, 'VEU.AX'
, 'VGS.AX'
, 'VOC.AX'
, 'VTS.AX'
, 'VUK.AX'
, 'WAM.AX'
, 'WBC.AX'
, 'WEB.AX'
, 'WES.AX'
, 'WOR.AX'
, 'WOW.AX'
, 'WPL.AX'
, 'WPR.AX'
, 'WTC.AX'
, 'XRO.AX'
, 'YAL.AX'
, 'Z1P.AX'
, 'ZIM.AX'
)
"""

In [39]:
feature_target = db.sql(
f"""
select 
    TMF_w
    , TMF_4w_min
    , TMF_4w_min_dd
    , TMF_26w_min
    , TMF_26w_min_dd
    , TMF_4w_min_dd_qtl_50
    , TMF_4w_min_dd_qtl_50_alt
    , TMF_26w_min_dd_qtl_50
    , TMF_26w_min_dd_qtl_50_alt 
    
    , previous_exit_success
    , previous_exit_success2
    , previous_exit_result_ratio
    , previous_exit_result_ratio2
    --, TMF_Simple_Signal
    --, macd_hof
    --, macd_signal_hof
    --, macd_w_hof
    --, macd_w_signal_hof
    --, Volume
    , stddev_samp(log(Volume+1)) over (partition by Ticker order by Date rows between 5*52 preceding and current row) as std_vol
    , log(Volume + 1)
    --, dayofweek(Date) as day_of_week
    , Date
    , Ticker
    , gain_loss_ratio2
    , case 
        when gain_loss_ratio2 > 1.01 then 1 
        when gain_loss_ratio2 > 1.0 then 0
        else -1 
    end as target
from full_df
where TMF_Simple_Signal = 1
--and Ticker in string 
"""
)
train = db.sql("select * from feature_target where year(Date) in (2005,2007,2009,2011,2013,2015)").df() # worked ????

#train = db.sql("select * from feature_target where year(Date) in (2017,2018)").df()

print(train.columns)

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, precision_score

clf = DecisionTreeClassifier(max_depth=5,class_weight={0:10,1:1}) # worked????

#clf = DecisionTreeClassifier(max_depth=5,class_weight={-1:20,0:10,1:1}) #
#clf = RandomForestClassifier(n_estimators= 10,max_depth=20)
#clf = RandomForestClassifier(n_estimators= 10,max_depth=50, class_weight={0:10,1:1})
#clf = RandomForestClassifier(n_estimators= 10,max_depth=10)
#clf = RandomForestClassifier(n_estimators= 10,max_depth=10, class_weight={0:10,1:1})
#clf = RandomForestClassifier(n_estimators= 2,max_depth=10)#, class_weight={0:10,1:1})
#clf = RandomForestClassifier(n_estimators= 50,max_depth=10, class_weight={0:10,1:1})

drop_columns = ['Date', 'Ticker', 'target', 'gain_loss_ratio2']
clf.fit(train.drop(columns = drop_columns),train['target'])

s_train = clf.score(train.drop(columns = drop_columns),train['target'])
print(s_train)
print(confusion_matrix(train['target'],clf.predict(train.drop(columns = drop_columns))))
print(precision_score(train['target'],clf.predict(train.drop(columns = drop_columns)), average = 'weighted' ))

Index(['TMF_w', 'TMF_4w_min', 'TMF_4w_min_dd', 'TMF_26w_min', 'TMF_26w_min_dd',
       'TMF_4w_min_dd_qtl_50', 'TMF_4w_min_dd_qtl_50_alt',
       'TMF_26w_min_dd_qtl_50', 'TMF_26w_min_dd_qtl_50_alt',
       'previous_exit_success', 'previous_exit_success2',
       'previous_exit_result_ratio', 'previous_exit_result_ratio2', 'std_vol',
       'log((Volume + 1))', 'Date', 'Ticker', 'gain_loss_ratio2', 'target'],
      dtype='object')
0.48687583933585643
[[7657 1199  118]
 [ 247  156    2]
 [5713 1127  163]]
0.5558034154027772

In [40]:
for year in range(2017, 2021+1):
    test  = db.sql(f"select * from feature_target where year(Date) in ({year})").df()
    s_test = clf.score(test.drop(columns = drop_columns),test['target'])
    print("====================================")
    print(year)
    print(sum(test['target']),len(test['target']))
    print('----------------------')
    print(s_test)
    print(confusion_matrix(test['target'],clf.predict(test.drop(columns = drop_columns))))
    print(precision_score(test['target'],clf.predict(test.drop(columns = drop_columns)), average = 'weighted'))
    #print(precision_score(test['target'],clf.predict(test.drop(columns = drop_columns)), average = 'binary'))
    print("====================================")

====================================
2017
-213 3704
----------------------
0.4562634989200864
[[1605  267   24]
 [  85   39    1]
 [1364  273   46]]
0.5656691190090384
====================================
====================================
2018
-957 4539
----------------------
0.5190570610266578
[[2280  376   36]
 [  81   29    2]
 [1406  282   47]]
0.5713660185707486
====================================
====================================
2019
-331 4132
----------------------
0.4830590513068732
[[1918  228   30]
 [  70   35    6]
 [1515  287   43]]
0.5330907356585176
====================================
====================================
2020
-566 4315
----------------------
0.4646581691772885
[[1955  393   54]
 [  53   21    3]
 [1516  291   29]]
0.4528298897824182
====================================
====================================
2021
-304 5170
----------------------
0.44081237911025145
[[2185  435   45]
 [  93   42    9]
 [1860  449   52]]
0.49747878545373375
====================================

In [47]:
for year in range(2017, 2024+1):
    test  = db.sql(f"select * from feature_target where year(Date) in ({year})").df()
    s_test = clf.score(test.drop(columns = drop_columns),test['target'])
    print("====================================")
    print(year)
    print(sum(test['target']),len(test['target']))
    print('----------------------')
    
    test['predict'] = clf.predict(test.drop(columns = drop_columns))
    focus = test[test['predict']==1][['Date','Ticker','predict','target','gain_loss_ratio2']]
    #display(test[test['predict']==1][['Date','Ticker','predict','target','gain_loss_ratio2']].sort_values(by=['Date']))
    #print(precision_score(test['target'],clf.predict(test.drop(columns = drop_columns)), average = 'binary'))
    display(db.sql("select datetrunc('month',Date) as month, avg(gain_loss_ratio2) as return_rate from focus group by month").df()['return_rate'].cumprod() )
    print("====================================")

====================================
2017
-213 3704
----------------------

0     1.194316
1     1.226815
2     1.282049
3     1.346991
4     1.389680
5     1.575504
6     1.664734
7     1.707883
8     1.870236
9     1.919275
10    2.123726
11    2.008792
Name: return_rate, dtype: float64

====================================
====================================
2018
-957 4539
----------------------

0     1.049748
1     1.090906
2     1.045277
3     1.117960
4     1.107850
5     1.205117
6     1.213437
7     1.308669
8     1.345150
9     1.353171
10    1.202494
11    1.080180
Name: return_rate, dtype: float64

====================================
====================================
2019
-331 4132
----------------------

0     1.057181
1     1.115154
2     1.116538
3     1.179154
4     1.200670
5     1.255371
6     1.269578
7     1.261216
8     1.266499
9     1.326787
10    1.323938
11    1.230668
Name: return_rate, dtype: float64

====================================
====================================
2020
-566 4315
----------------------

0     1.039092
1     1.049475
2     1.183189
3     1.091128
4     1.197752
5     1.181638
6     1.133813
7     1.152830
8     1.057909
9     1.248129
10    1.257152
11    1.092888
Name: return_rate, dtype: float64

====================================
====================================
2021
-304 5170
----------------------

0     0.956890
1     1.010613
2     0.946870
3     0.975184
4     1.011220
5     1.031996
6     1.054149
7     1.041869
8     1.036126
9     1.060230
10    1.071382
11    1.080866
Name: return_rate, dtype: float64

====================================
====================================
2022
-798 5450
----------------------

0     0.934449
1     0.925876
2     0.902739
3     0.973872
4     1.005130
5     0.963828
6     0.974123
7     0.954428
8     0.967935
9     0.942853
10    0.974541
11    0.963563
Name: return_rate, dtype: float64

====================================
====================================
2023
-849 5040
----------------------

0     1.000032
1     1.039371
2     1.058386
3     1.027151
4     1.053076
5     1.129016
6     1.041771
7     1.091670
8     1.129323
9     1.116588
10    1.205376
11    1.190528
Name: return_rate, dtype: float64

====================================
====================================
2024
-748 5487
----------------------

0     1.037011
1     1.045858
2     1.057390
3     1.068328
4     1.083875
5     1.088681
6     1.083468
7     1.121513
8     1.097378
9     1.095529
10    1.119491
11    1.114147
Name: return_rate, dtype: float64

====================================

In [ ]:
test = db.sql(
"""
select * 
from feature_target 
where (year(Date)  >= 2018) and (year(Date) < 2021)
"""
).df()
res = test
res['predict'] = clf.predict(test.drop(columns = ['Date', 'Ticker', 'target']))

db.sql(
"""
with prev_step as (
    select *
        , case when (target = 1) and (predict = 1) then date_trunc('month', Date) end as tp_month
        , case when (target = 0) and (predict = 1) then date_trunc('month', Date) end as fp_month
    from res
)
, result_agg_by_year_ticker as (
    select 
        Ticker
        , year(Date) as year
        -- not working for some reason
        --, count(distinct case when (target = 1) and (predict = 1) then date_trunc('month', Date) end) as TP
        --, count(distinct case when (target = 0) and (predict = 1) then date_trunc('month', Date) end) as FP
        , count(distinct tp_month) as TP
        , count(distinct fp_month) as FP

        --, sum(case when (target = 1) and (predict = 1) then 1 end) TP
        --, sum(case when (target = 0) and (predict = 1) then 1 end) FP
        
        , TP/(TP+FP) as precision
        , dense_rank() over (partition by year order by precision desc) as rnk 
    from prev_step
    group by Ticker, year
)
, top_10_precise_each_year as (
    select *
    from result_agg_by_year_ticker
    where rnk < 5
)
--select * from result_agg_by_year_ticker

--select *
--from result_agg_by_year_ticker
--where tp != 0


select Ticker, count(*) as cnt, sum(TP), sum(FP)
from top_10_precise_each_year
group by Ticker
--having cnt > 2
order by cnt desc, sum(TP) desc
""")

this approach have problem to do with: what if all the predictions are consecutive? this essentially would mean that it would be 1 opportunity instead of many

In [ ]:
test  = db.sql("select * from feature_target where year(Date) in (2022)").df()
s_test = clf.score(test.drop(columns = ['Date', 'Ticker', 'target']),test['target'])
print(s_test)
#print(precision_score(test['target'],clf.predict(test.drop(columns = ['Date', 'Ticker', 'target']))))

In [ ]:
db.sql("select * from full_df where gain_loss_ratio is null").df()